<!-- {{define "home"}} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Earn money while doing the things you love doing">

    <!-- styles-->
    <link rel="shortcut icon" href="/public/assets/img/dfc-ico.png">
    <link rel="stylesheet" href="/public/assets/plugins/bootstrap-5.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/public/assets/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>DFC Tiper - From DefiConnect</title>

</head>

<body id="top">
    <nav class="navbar navbar-expand-lg navbar-dark  fixed-top" aria-label="Fifth navbar example">
        <div class="container">
            <a class="navbar-brand" href="/#top">DFC TIPPER</a>
            <button class="custom-toggler navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false"
                aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="https://deficonnect.tech">Back to Defi Connect</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#about">About DFC Tiper</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#how-it-works">How It Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;" data-bs-toggle="modal"
                            data-bs-target="#supportModal">Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/advertiser">Advertiser</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <a href="http://t.me/dfctippingbot?start=1152667575" target="_blank" class="blue-button">Get
                        Started</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Intro -->
    <div class="welcome-stage">
        <div class="container">
            <div id="mainSliderArea" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="row d-flex align-items-center">

                        <div class="col-12 col-lg-6 push-lg-6">
                            <img src="/public/assets/img/dfc-tipper-img.png" id="bot-image"
                                class="img-fluid bouncing bounce" alt="DFC Tipper Bot">
                        </div>
                        <div class="col-12 col-lg-6 p-3">
                            <h1>ADDING VALUE TO EVERY RETWEET!!</h1>
                            <p class=" mt-3 mb-4">Learn the secrets of our easy solution that allows
                                you to start earning quick cash, run a campaign, advertise and grow your
                                social accounts ten times faster and cheaper than before with a simple action of
                                retweeting.
                            </p>
                            <div class="d-flex mb-4">
                                <a href="http://t.me/dfctippingbot?start=1152667575" target="_blank"
                                    class="blue-button me-3">Get Started Now</a>
                                <a href="#about" class="trans-button">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- About -->
    <div id="about" class="white-section-area">
        <div class="container">

            <div class="row d-flex align-items-center">
                <div class="col-12 col-lg-12">
                    <h1 class="text-center">About DFC Tiper</h1>
                </div>
                <div class="col-12 col-lg-6 push-lg-6 d-flex justify-content-center">
                    <img src="/public/assets/img/happy-girl.jpg" class="img-fluid card-shadow" />
                    <!-- <div class= "product-video card-shadow d-flex justify-content-center align-items-center">
                        <div class="play-button card-shadow  d-flex justify-content-center align-items-center">
                            <i class="fa fa-play"></i>
                        </div>
                    </div> -->
                </div>
                <div class="col-12 col-lg-6 pe-3">
                    <b class="starter-space">DFCtiper is a unique twitter bot built on telegram and owned by
                        Deficonnect.</b>
                    It is an easy to use social media token earning and visibility increasing
                    software that allows users to make lots of money by performing simple programmed tasks while also
                    been
                    able to tip the bot and get it to grow their social accounts, advertise and run a campaign.<br><Br>

                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="http://t.me/dfctippingbot?start=1152667575" target="_blank"
                            class="blue-button me-3">Get Started Now</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- How it works -->
    <div id="how-it-works" class="grey-section-area">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-12 col-lg-6 pe-3">
                    <h1 class="">How It Works</h1>
                    <p class=" mt-3 mb-4">Publishing your task using the DFCtipper isn’t something to crack your head
                        about. All you need to do is purchase some Deficonnect (DFC) tokens and tip the bot with it
                        after which the bot sends your tasks to millions of people to perform the task for you by either
                        retweeting, liking, following, joining your telegram channel, filling a form such as airdrop
                        form or a project form depending on whatever the task maybe. The bot also tips the millions of
                        people with some DFC tokens that can be exchanged to dollars for carrying out the task.<br><Br>
                        So, for example if you’re running a campaign and need to reach millions of people or require
                        massive vote online or you need lots of followers on your social media handles or perhaps you
                        have a project to promote or a coin you want millions of people to see and know about. Then look
                        no further because with DFCtiper that is obtainable in few minutes. Amazing isn’t it?!
                    </p>
                    <div class="d-flex d-none d-lg-block">
                        <a href="http://t.me/dfctippingbot?start=1152667575" target="_blank"
                            class="blue-button me-3">Start Now</a>
                    </div>

                </div>
                <div class="col-12 col-lg-6 push-lg-6">
                    <h4>How to earn with DFCtiper</h4>
                    <p>Earning on DFCtiper is as easy as reading ABC,
                        all you have to do is in 4 easy steps.
                    </p>
                    <div class="accordion card-shadow" id="accordionExample">

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Step #1
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Get the bot link by
                                    <a href="http://t.me/dfctippingbot?start=1152667575" target="_blank"
                                        class="text-info">clicking here</a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Step #2
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Register your account
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Step #3
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Input your smart chain DFC wallet address where your earnings will be sent into.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Step #4
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <b>Perform the task the bot gives you.</b><br><Br>
                                    For each task you perform, you will get
                                    40million DefiConnect Tokens (DFC), and you can earn more faster
                                    and quicker by simply inviting
                                    friends to also use the bot. That is, it's a win win for everyone.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex d-block d-lg-none justify-content-center mt-4">
                        <a href="http://t.me/dfctippingbot?start=1152667575" target="_blank"
                            class="blue-button me-3">Start Now</a>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <!-- Support modal -->
    <div class="modal fade" id="supportModal" tabindex="-1" aria-labelledby="supportModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Support Desk</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Want quick answers to a question or issue with DFC Tiper?
                    Send us a message using any of our handles below.

                    <h4 class="text-black mt-3 mb-3"><b>Support Handles</b></h4>
                    <div class="mb-3">


                        <a href="https://t.me/deficonnect" target="_blank" class="support-icon"><i
                                class="fab fa-telegram"></i> Telegram</a><br><br>

                        <a href="https://www.facebook.com/deficonnect" target="_blank" class="support-icon">
                            <i class="fab fa-facebook"></i> Facebook
                        </a><br><br>
                        <a href="https://twitter.com/deficonnect" target="_blank" class="support-icon">
                            <i class="fab fa-twitter"></i> Twitter
                        </a>

                    </div>


                </div>

            </div>
        </div>
    </div>


    <!-- Testimonial -->
    <div id="testimonials" class="grey-section-area">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-12 col-lg-12">
                    <h1 class="text-center">Testimonials</h1>
                    <p class=" mt-3 text-center">Don't take our word for it.
                        Here are testimonials from Satisfied advertisers and members of the DFC Tiper community.<br><br>
                    </p>
                </div>
                <div class="offset-lg-3 offset-md-3 col-lg-6 col-md-6  col-12">
                    <div id="dfctipper-testimonials" class="owl-carousel owl-theme testimonial-box card-shadow">
                        <div class="item">
                            <div class="row ">

                                <div class="quote-area"><i class="fa fa-quote-left"></i></div>
                                <div class="testimony-area">This is an excellent effort with a lot of potential.
                                    The team's dedication and ingenuity,
                                    combined with exceptional fan support, will make this the envy of the crypto world.
                                </div>
                                <div class="testimonial-user">
                                    <b>Farhan N</b><br>
                                    <i>@razzkunn9 on Twitter</i>
                                </div>


                            </div>
                        </div>
                        <div class="item">
                            <div class="row ">
                                <div class="quote-area"><i class="fa fa-quote-left"></i></div>
                                <div class="testimony-area">Best project ever, I am Indonesian, very happy to be
                                    participating in this project. I hope this project will gain more popularity in the
                                    future </div>
                                <div class="testimonial-user">
                                    <b>AL | NFT.</b><br>
                                    <i>@NFThunt29 on Twitter</i>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="row ">
                                <div class="quote-area"><i class="fa fa-quote-left"></i></div>
                                <div class="testimony-area">This is definitely going to be HUGE! I am so glad to be part
                                    of this. </div>
                                <div class="testimonial-user">
                                    <b>Yudi Wara</b><br>
                                    <i>@wara_yudi on Twitter</i>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="row ">
                                <div class="quote-area"><i class="fa fa-quote-left"></i></div>
                                <div class="testimony-area">
                                    Nice project and congratulations to the team for their efforts and
                                    dedication and highly appreciated the visionary thought
                                    of the projector and it will create history Thumbs up, it will go to moon. </div>
                                <div class="testimonial-user">
                                    <b>Md Soyaib Jibrun
                                    </b><br>
                                    <i>@JibrunMd on Twitter</i>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="mt-4 text-center">
                        <a href="https://twitter.com/deficonnect" target="_blank" class="blue-button">See more on
                            Twitter</a>


                    </div>
                </div>




            </div>
        </div>

    </div>



    <!-- FAQ -->
    <div id="faq" class="grey-section-area">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-12 col-lg-12 mb-3">
                    <h1 class="text-center">FAQs</h1>

                </div>

                <div class="accordion col-12 col-lg-8 offset-lg-2" id="accordionExampleM">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOneM">
                                What do I need to Register?
                            </button>
                        </h2>
                        <div id="collapseOneM" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExampleM">
                            <div class="accordion-body">
                                Twitter Username & Bep20 wallet address.
                                You can get it from trust wallet
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwoM">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwoM">
                                How much do I Earn per Task?
                            </button>
                        </h2>
                        <div id="collapseTwoM" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExampleM">
                            <div class="accordion-body">
                                Presently $DFC400,000
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThreeM">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThreeM">
                                What is the benefit DFCtipper?
                            </button>
                        </h2>
                        <div id="collapseThreeM" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleM">
                            <div class="accordion-body">
                                DFCtiper help you increase social media engagement and visibility of every content you
                                post
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFourM">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFourM">
                                How can I make more money over a short period?
                            </button>
                        </h2>
                        <div id="collapseFourM" class="accordion-collapse collapse" data-bs-parent="#accordionExampleM">
                            <div class="accordion-body">
                                Refer your friends and family by Sharing your referral link on social media
                                plateforms.<br><br>

                                As they perform different task you will make extra DFC 400,000 on each of them
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFiveM">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFiveM">
                                How do I know when their is a task?
                            </button>
                        </h2>
                        <div id="collapseFiveM" class="accordion-collapse collapse" data-bs-parent="#accordionExampleM">
                            <div class="accordion-body">
                                You will get a notification from the bot inform of a message on telegram
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSixM">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSixM">
                                At what point can I withdraw the money to my wallet?
                            </button>
                        </h2>
                        <div id="collapseSixM" class="accordion-collapse collapse" data-bs-parent="#accordionExampleM">
                            <div class="accordion-body">
                                When you've made upto $DFC 200,000,000
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>


    <!-- {{template "footer" .}} -->
    <script src="/public/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/public/assets/plugins/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/public/assets/js/custom.js"></script>
</body>

</html>
<!-- {{end}} -->